<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polito.mainactivity">

    <application
        android:allowBackup="true"
        android:icon="@drawable/chronomy"
        android:label="Chronomy"
        android:roundIcon="@drawable/chronomy"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainActivity">
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MainActivity.NoActionBar">
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>